.chart-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contentContainer {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	cursor: pointer;
    z-index: 111111111;
    position: absolute;
    top: 0;
    left: 0;
}
#thing {
	position: relative;
	left: 0px;
	bottom: 0px;
	transition: left .5s cubic-bezier(.42,-0.3,.78,1.25), 
				top .5s cubic-bezier(.42,-0.3,.78,1.25);
}